-- CreateEnum
CREATE TYPE "EventStatus" AS ENUM ('DRAFT', 'ENRICHING', 'PUBLISHED', 'ARCHIVED');

-- CreateTable
CREATE TABLE "Author" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "bio" TEXT,
    "avatarUrl" TEXT,
    "socialLinks" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "email" TEXT,

    CONSTRAINT "Author_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Event" (
    "id" SERIAL NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "imageUrl" TEXT,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "status" "EventStatus" NOT NULL DEFAULT 'DRAFT',
    "venue" TEXT,
    "venueAddress" TEXT,
    "postalCode" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "price" TEXT,
    "currency" TEXT DEFAULT 'SGD',
    "isFree" BOOLEAN DEFAULT false,
    "category" TEXT,
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "metaTitle" TEXT,
    "metaDescription" TEXT,
    "sourceUrl" TEXT,
    "sourceProvider" TEXT,
    "aiSummary" TEXT,
    "aiSmartTips" JSONB,
    "aiFullExperience" JSONB,
    "aiFaq" JSONB,
    "aiBestFor" TEXT,
    "aiVibe" TEXT,
    "aiDurationHint" TEXT,
    "hotnessScore" INTEGER DEFAULT 0,
    "affiliateSearchKeywords" JSONB,
    "marketingPitch" TEXT,
    "nearbyAttractions" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "enrichedContent" JSONB,
    "authorId" TEXT,

    CONSTRAINT "Event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MrtStation" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "line" TEXT,

    CONSTRAINT "MrtStation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Post" (
    "id" SERIAL NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "excerpt" TEXT,
    "content" TEXT NOT NULL,
    "imageUrl" TEXT,
    "category" TEXT DEFAULT 'Travel Guide',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PUBLISHED',
    "authorId" TEXT,
    "bestTime" TEXT,
    "insiderPrice" TEXT,
    "isNewsjack" BOOLEAN DEFAULT false,
    "secretTip" TEXT,
    "klookUrl" TEXT,
    "tripUrl" TEXT,

    CONSTRAINT "Post_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Author_name_idx" ON "Author"("name" ASC);

-- CreateIndex
CREATE INDEX "Event_authorId_idx" ON "Event"("authorId" ASC);

-- CreateIndex
CREATE INDEX "Event_category_idx" ON "Event"("category" ASC);

-- CreateIndex
CREATE INDEX "Event_hotnessScore_idx" ON "Event"("hotnessScore" ASC);

-- CreateIndex
CREATE INDEX "Event_postalCode_idx" ON "Event"("postalCode" ASC);

-- CreateIndex
CREATE INDEX "Event_slug_idx" ON "Event"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Event_slug_key" ON "Event"("slug" ASC);

-- CreateIndex
CREATE INDEX "Event_startDate_idx" ON "Event"("startDate" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MrtStation_name_key" ON "MrtStation"("name" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MrtStation_slug_key" ON "MrtStation"("slug" ASC);

-- CreateIndex
CREATE INDEX "Post_authorId_idx" ON "Post"("authorId" ASC);

-- CreateIndex
CREATE INDEX "Post_isNewsjack_idx" ON "Post"("isNewsjack" ASC);

-- CreateIndex
CREATE INDEX "Post_slug_idx" ON "Post"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Post_slug_key" ON "Post"("slug" ASC);

-- AddForeignKey
ALTER TABLE "Event" ADD CONSTRAINT "Event_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "Author"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Post" ADD CONSTRAINT "Post_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "Author"("id") ON DELETE SET NULL ON UPDATE CASCADE;

